<section class="container-fluid mt-5">
    <div class="content">  
      <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath1">
                                <polygon class="clip" points="0,500 0,0 1920,0 1920,500"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath1)" width="1920" height="500" xlink:href="assets/image/a.jpg"></image>
                    </svg>
                    <div class="card__content">
                    
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">工具機</h2>
                            <p class="card__subtitle">痛點—售不佳，有行銷業者建議增加多元語系應可提升銷售。</p>
                        </div>
                        
                        
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="https://picsum.photos/id/237/40/40" alt="author01" />
                                <span class="meta__author">Jerry </span>
                                <span class="meta__date">06/19/2022</span>
                            </div>
                            <p>解決辦法/</p>
                            <p>step1透過數據分析—目前經銷商/代理商成效不佳。</p>
                            <p>step2商模訪談—客戶除生產製造外，另也提供OEM服務</p>
                            <p>step3網站檢視—檢核目前網站與商模不符</p>
                            <p>step4網站重建—規劃符合商模與未來成長網站的架構內容。</p>
                            <p>step5網站經營—全方位行銷布建提升網站優質流量，定期提供數據分析、產業趨勢訊息與行銷策略，大幅提升行銷效益。</p>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath2">
                                <polygon class="clip" points="0,500 0,0 1920,0 1920,500"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="assets/image/b.jpg"></image>
                    </svg>
                    
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">五金零件</h2>
                            <p class="card__subtitle">痛點—公司主要是代工，但收到的詢問信都是偏一般性消費者。</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="https://picsum.photos/id/237/40/40" alt="author02" />
                                <span class="meta__author">Frank Posterius</span>
                                <span class="meta__date">06/16/2023</span>
                            </div>
                            <p>解決辦法/</p>
                        <p>step1商模訪談—商模與網站/關鍵字優化不相符，有效訪客偏少。</p>
                            <p>step2網站檢視—網站架構內容與商模不符合，不利網站/關鍵字優化。</p>
                            <p>step3網站檢視—規劃符合商模與未來成長網站的架構內容。</p>
                            <p>step4網站/關鍵字優化—以客戶的目標TA結合關鍵字意圖，執行網站/關鍵字優化。</p>
                        </div>
                    </div>
                </div>
            </div>
          <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath3">
                                <polygon class="clip" points="0,500 0,0 1920,0 1920,500"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath3)" width="1920" height="500" xlink:href="assets/image/c.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">電子零組件</h2>
                            <p class="card__subtitle">痛點—訂單微利，關鍵字廣告單次點擊成本高，要如何提升SEM投報率。</p>
                        </div>
                        
                        <div class="card word">000</div>
                        
                        
                        
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="https://picsum.photos/id/237/40/40" alt="author03" />
                                <span class="meta__author">Sarah Lester</span>
                                <span class="meta__date">06/16/2023</span>
                            </div>
                            <p>解決辦法/</p>
                            <p>洞悉客戶投放關鍵字廣告痛點，藉由多年產業經驗，在同樣預算下帶來更多有效流量且提升詢問信。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /cards -->
    </div>
</section>