#sectionWraper{
  position:absolute;
  top:-100%;
  width:100%;
  height:100vh;
}

.scroller{
  height: 100vh;
}

.pin-section {
  width: 100%;
  height:100vh;
}
.pin-section-middle{
  background:linear-gradient(0deg,#EEEEEE 0%, #EEEEEE 180px, #fff 181px, #fff 100%);
}

.panel{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.text-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.pin-content {
  position:relative;
  width: 100%;
  height: 100vh;
}

.pin-content:last-child {
  margin-bottom: 30vh;
}

.pin-layout-bg {
  position:relative;
  &::after{
    content: ' ';
    background: #EEEEEE;
    width:100%;
    height:20%;
    position:absolute;
    bottom:0;
  }
}

.pin-layout {
  background:linear-gradient(0deg,#EEEEEE 0%, #EEEEEE 180px, #fff 181px, #fff 100%);
  .bg-obj{
    position:absolute;
    width:35%;
    height:40vh;
    bottom: 5vh;
    right: 20%;
    z-index:0;
  }

  .link{
    position: absolute;
    right:14%;
    bottom:5vh;
    z-index:10;
  }

  .left{
    position:absolute;
    z-index:2;
    padding:8vh 10vw;
    .area-1{
      font-size:40px;
      font-weight: bold;
    }
    .area-2{
      width:45%;
      margin-top:20vh;
      .area-2-1{
        display:flex;
        font-size:15px;
        align-items: center;
        .line{
          width:80px;
          height:1px;
          background:#000;
          margin: 0 10px;
        }
      }
      .area-2-2{
        font-size:50px;
        margin-top:10px;
      }
      .area-2-3{
        margin-top:10px;
        font-size:25px;
        line-height: 50px;
      }
    }
  }
  .right{
    position:absolute;
    right:2%;
    bottom:8%;
    z-index:1;
    width:50%;

    img{
      width:100%;
      height:100%;
      object-fit: contain;
      margin-bottom:10%;
      z-index:1;
      position: relative;
    }
  }
}